<h2>もうしこみ/おといあわせフォーム</h2>

<div class="collection">
    <div class="group">
        <div class="title">🥷次回のCoderDojoにもうしこむ</div>
        <ul>
            <a class="item" target="_blank" href="https://kamiyama.page.link/hello">
                <div class="icon"><img src="assets/img/project-1.png"></div>
                <div class="content">
                    <h4>参加申込フォーム</h4>
                    <div class="description">
                        はじめてのかたもいつものかたも、参加のご希望はこちらのフォームからお申し込みください。
                    </div>
                </div>
            </a>
            <!-- <a class="item" >
                <div class="icon"><img src="assets/img/project-2.svg"></div>
                <div class="content">
                    <h4>CatoCat</h4>
                    <div class="description">
                        CatoCat description. It's very fun and so on. 
                    </div>
                </div>
            </a> -->
        </ul>
    </div>
    <div class="group">
        <div class="title">👋質問があります！</div>
        <ul>
            <a class="item" href="https://kamiyama.page.link/contact">
                <div class="icon"><img src="assets/img/project-3.svg"></div>
                <div class="content">
                    <h4>おといあわせフォーム</h4>
                    <div class="description">
                        疑問、質問、メンター参加や見学の希望などなど、参加申込以外はこちらからお気軽にお問い合わせください。
                    </div>
                </div>
            </a>
            <!-- <a class="item" href="https://ko-fi.com/itsmeaga1n" target="_blank">
                <div class="icon"><img src="assets/img/ko-fi.jpg"></div>
                <div class="content">
                    <h4>Ko-fi</h4>
                    <div class="description">
                        If you enjoy what I'm doing, maybe you want to sponsor me a coffee?
                    </div>
                </div>
            </a> -->
        </ul>
    </div>
</div>
